.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formInput {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.submit {
  width: 150px;
  height: 60px;
  border-radius: 5px;
}
